#################
## PhpStorm
#################
*.idea

#################
## NetBeans
#################
nbproject*

#################
## PhpZero
#################
test.php

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

_gsdata_
