# APIGen NEON file options with example
# You can also get a copy of these by running `apigen generate --help`
# Go here (http://ne-on.org/) for "validating" your neon file and learning about the language

# Quick note...true and false can be yes or no respectively...
# An array is made by creating a new line, tabbing over once, and using a hyphen to
#   start the statement
# Strings do not need to be quoted (that I know of!?)

# Dirs or files documentation is generated for.
source:
    - /var/www/html/site-f.hostke.ru/www/app/class

# Target dir for documentation.
destination: /var/www/html/site-f.hostke.ru/www/doc1

# Access levels of included method and properties. (default: ["public","protected"]) (multiple values allowed)
accessLevels:
    - public

# Generate page with elements with specific annotation.
#   not sure what these are, guess I'll hafta learn about em'
annotationGroups: true

# Base url used for sitemap (useful for public doc).
baseUrl: http://docs.example.com

# Custom google search engine id (for search box).
#googleCseId: {put it here!}

# Google Analytics tracking code.
#googleAnalytics: {put it here}

# Turn on debug mode.
debug: true

# Generate documentation for elements marked as @deprecated
deprecated: true

# Add link to ZIP archive of documentation.
download: true

# Scanned file extensions. (default: ["php"]) (multiple values allowed)
extensions:
    - php

# Directories and files matching this mask will not be parsed (e.g. */tests/*). (multiple values allowed)
exclude:
    - vendor/
    - logs/

# The way elements are grouped in menu. (default: "auto") (options: auto, namespaces[=default], packages)
groups:  packages

# Charset of scanned files. (multiple values allowed)
charset:
    - utf-8

# Elements with this name prefix will be first in tree.
# main:

# Include elements marked as @internal.
internal: true

# Generate documentation for PHP internal classes.
php: true

# Files matching this mask will be included in class tree, but will not create a link to their documentation. (multiple values allowed)
#skipDocPath:

# Do not generate highlighted source code for elements.
noSourceCode: true

# ApiGen template theme name. (default: "default")
templateTheme: bootstrap

# Your own template config, has higher priority templateTheme.
#templateConfig:

# Title of generated documentation.
title: hostkey.com

# Generate documentation for elements marked as @todo.
todo: true

# Generate tree view of classes, interfaces, traits and exceptions.
tree: true