{plugin "Zero_Section_SeoTag"}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="{HTTPA}/css/index.css" rel="stylesheet" type="text/css" />
<script src="{HTTPA}/js/index.js" type="text/javascript" language="JavaScript"></script>
<link rel="shortcut icon" href="{HTTPA}/img/icon.png" type="image/x-icon">
<script src="{HTTPA}/js/jquery-1.8.2.min.js" type="text/javascript" language="JavaScript"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{HTTPA}/css/jquery-ui-timepicker-addon.css" />

<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js" type="text/javascript"></script>
<script src="{HTTPA}/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script src="{HTTPA}/js/jquery.ui.datepicker-ru.js" type="text/javascript"></script>

<script type="text/javascript">
    jQuery(function() {
        jQuery(".datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            language: 'ru'
        });
        jQuery(".datetimepicker").datetimepicker({
            dateFormat: "yy-mm-dd",
            timeFormat: "HH:mm:ss",
            language: 'ru'
        });
        jQuery(".timepicker").timepicker({
            timeFormat: "HH:mm:ss",
            language: 'ru'
        });
    });
</script>
