<h1>{$Section->Name}</h1>

<form method="post">
    <input type="hidden" name="act">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td height="26px">
            {if ( isset($Action['Save']) )}
            <input class="btn" type="button" value="сохранить" onclick="button_form('formedit', '{URL}', 'Save', 0);">
            {/if}
            {if ( isset($Action['Copy']) )}
            Скопировать права в группу: <select name="obj_id" style="width: 200px;" onchange="button_form_obj_id(this.form, '{URL}', 'Copy', this.value, 0);"><option value="">not selected</option>{foreach ($groups_list as $id => $name)}<option value="{$id}">{$name}</option>{/foreach}</select>
            {/if}
        </td>
    </tr>
</table>
</form>

<form id="formedit" method="post">
  <input type="hidden" name="act">
    {foreach ($section_list as $id => $row)}
    <table class="tbllist" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr><td>

    <table class="tbledit" width="100%" cellspacing="1" cellpadding="0" border="0">
    <tr>
      <th STYLE="text-align: LEFT;" colspan="{$row['action_list_all_count']}">
          [{$id}] - {$row['Url']} - {$row['Controller']} - {$row['Name']}
      </th>
    </tr>
    <tr style="vertical-align: top;">
        <td>
            <table class="tbledit" width="100%" cellspacing="1" cellpadding="0" border="0">
                <tr>
                    <td>Право на раздел</td>
                </tr>
                <tr>
                    <td>
                        <div id="blocklevel2"><input type="radio" name="RoleAccessSection[{$id}]" value="denied"{if ( !isset($row['action_list']['Default']) )} checked{/if}>&nbsp;нет</div>
                        <div id="blocklevel2"><input type="radio" name="RoleAccessSection[{$id}]" value="access"{if ( isset($row['action_list']['Default']) )} checked{/if}>&nbsp;да</div>
                    </td>
                </tr>
            </table>
        </td>
      {foreach ($row['action_list_all'] as $action => $name)}
      <td>
          <table class="tbledit" width="100%" cellspacing="1" cellpadding="0" border="0">
              <tr>
                  <td>{$name}</td>
              </tr>
              <tr>
                  <td>
                      <div id="blocklevel2"><input type="radio" name="RoleAccessAction[{$id}][{$action}]" value="denied"{if ( !isset($row['action_list'][$action]) )} checked{/if}>&nbsp;нет</div>
                      <div id="blocklevel2"><input type="radio" name="RoleAccessAction[{$id}][{$action}]" value="access"{if ( isset($row['action_list'][$action]) )} checked{/if}>&nbsp;да</div>
                  </td>
              </tr>
          </table>
      </td>
      {/foreach}
    </tr>
    </table>

    </td></tr>
    </table>
    {/foreach}
</form>
