<form action="{URL}" method="post">
    <input type="hidden" name="act" value="Profile">
    <table class="tbledit" width="300px" cellspacing="1" cellpadding="0" border="0" align="center">
        <tr>
            <th>Профиль</th>
            <th>ID: {$Users->ID}</th>
        </tr>
        <tr>
            <td width="150px">
                Фио:<br>
                {if ( isset($Error_Validator['Name']) )} <font color="red">{$Error_Validator['Name'][1]}</font> {/if}
            </td>
            <td width="200px">
                <input class="field" type="text" name="Users[Name]" value="{$Users->Name}">
            </td>
        </tr>
        <tr>
            <td width="150px">
                Email:<br>
                {if ( isset($Error_Validator['Email']) )} <font color="red">{$Error_Validator['Email'][1]}</font> {/if}
            </td>
            <td width="200px">
                <input class="field" type="text" name="Users[Email]" value="{$Users->Email}">
            </td>
        </tr>
        <tr>
            <td width="150px">
                Телефон:<br>
                {if ( isset($Error_Validator['Phone']) )} <font color="red">{$Error_Validator['Phone'][1]}</font> {/if}
            </td>
            <td width="200px">
                <input class="field" type="text" name="Users[Phone]" value="{$Users->Phone}">
            </td>
        </tr>
        <tr>
            <td>
                {translation "Password"}:<br>
                {if ( isset($Error_Validator['Password']) )} <font color="red">{$Error_Validator['Password'][1]}</font> {/if}
            </td>
            <td>
                <input class="field" type="password" name="Users[Password]">
            </td>
        </tr>
        <tr>
            <td>Пароль еще раз:</td>
            <td>
                <input class="field" type="password" name="Users[PasswordR]">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input class="btn" type="submit" value="изменить">
            </td>
        </tr>
    </table>
</form>
