<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td height="26px">
            {foreach ($Interface as $row)}
            <input class="btn" type="button" value="{$row['Name']}" onclick="button_form('formpanel', '{$row['Url']}', '', 0);">
            {/foreach}
            &nbsp;
        </td>
    </tr>
</table>
<br>
<table class="tbledit" width="100%" cellspacing="1" cellpadding="0" border="0">
    <th colspan="3">{$Section->Name}</th>
    {if ( isset($Action['EngineModulesDB']) )}
    <form method="post">
        <input type="hidden" name="act">
        <tr>
            <td width="50" align="center">
                <input type="image" src="/phpzero/assets/img/button/button_hammer.gif" onclick="button_form(this.form, '{URL}', 'EngineModulesDB', 0);">
            </td>
            <td width="500">
                <select class="field" name="connectDb">
                    <option value="">{translation "Not selected"}</option>
                    {foreach ($modules_db as $name)}
                    <option value="{$name}">{$name}</option>
                    {/foreach}
                </select><br><br>
                <input type="checkbox" name="flag_gird" value="1">&nbsp;Controller - Grid<br>
                <input type="checkbox" name="flag_edit" value="1">&nbsp;Controller - Edit<br>
            </td>
            <td>
                {translation "model factory"}
            </td>
        </tr>
    </form>
    {/if}
    {if ( isset($Action['CacheReset']) )}
    <form method="post">
        <input type="hidden" name="act">
        <tr>
            <td width="50" align="center">
                <input type="image" src="/phpzero/assets/img/button/button_hammer.gif" onclick="button_form(this.form, '{URL}', 'CacheReset', 0);">
            </td>
            <td colspan="2">
                {translation "controller Zero_System_GridService action Cache_Reset"}<br>
            </td>
        </tr>
    </form>
    {/if}
    {if ( isset($Action['SessionReset']) )}
    <form method="post">
        <input type="hidden" name="act">
        <tr>
            <td width="50" align="center">
                <input type="image" src="/phpzero/assets/img/button/button_hammer.gif" onclick="button_form(this.form, '{URL}', 'SessionReset', 0);">
            </td>
            <td colspan="2">
                {translation "controller Zero_System_GridService action Session_Reset"}<br>
            </td>
        </tr>
    </form>
    {/if}
</table>
<br>
<table class="tbllist" width="100%" cellspacing="1" cellpadding="0" border="0">
    <form method="post">
        <input type="hidden" name="act">
        <tr>
            <td>
                <a href="/phpzero/checkapi.php" target="_blank">Проверка API</a>
            </td>
        </tr>
    </form>
</table>
{if ( isset($Action['Deploy']) )}
<br>
<table class="tbllist" width="100%" cellspacing="1" cellpadding="0" border="0">
    <form method="post">
        <input type="hidden" name="act" value="Deploy">
        <tr>
            <td>
                Контроллер <b>Zero_System_Console_Deploy</b>
                <textarea name="deploy" rows="6" style="width: 99%;">
{foreach (Zero_App::$Config->Deploy->PathDeploy as $p )}
{$p}

{/foreach}
                </textarea><br>
                <input type="button" value="DEPLOY" onclick="button_form(this.form, '{URL}', 'Deploy', 1);">
            </td>
        </tr>
    </form>
</table>
{/if}
<form id="formpanel" method="post">
    <input type="hidden" name="act">
</form>