<form action="{URL}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="act" value="Profile">
  <table class="tbledit" width="600px" cellspacing="1" cellpadding="0" border="0" align="center">
    <tr>
      <th colspan="2">{translation "Zero_Users" "profile"}</th>
    </tr>
    <tr>
      <td width="200px">{translation "Zero_Users" "model prop Name"}</td>
      <td>
        <input class="field" type="text" name="Users[Name]" value="{htmlspecialchars($Users->Name)}">
        {if ( isset($Error_Validator['Name']) )}<span class="subj_prop_error">{$Error_Validator['Name'][1]}</span>{/if}
      </td>
    </tr>
    <tr>
      <td>{translation "Zero_Users" "model prop Login"}</td>
      <td>
        {$Users->Login}
      </td>
    </tr>
    <tr>
      <td>
          {translation "Zero_Users" "model prop Email"} <span class="subj_error">*</span>
        {if ( isset($Error_Validator['Email']) )}<span class="subj_prop_error">{$Error_Validator['Email'][1]}</span>{/if}
      </td>
      <td>
        <input class="field" type="text" name="Users[Email]" value="{htmlspecialchars($Users->Email)}">
      </td>
    </tr>
      <tr>
          <td>
              {translation "Zero_Users" "model prop Phone"}
              {if ( isset($Error_Validator['Phone']) )}<span class="subj_prop_error">{$Error_Validator['Phone'][1]}</span>{/if}
          </td>
          <td>
              <input class="field" type="text" name="Users[Phone]" value="{htmlspecialchars($Users->Phone)}">
          </td>
      </tr>
      <tr>
          <td>
              {translation "Zero_Users" "model prop ImgAvatar"}
              {if ( isset($Error_Validator['ImgAvatar']) )}<span class="subj_prop_error">{$Error_Validator['ImgAvatar'][1]}</span>{/if}
          </td>
          <td>
              <input type="hidden" name="Users[ImgAvatar]" value="">
              <input class="field" type="file" name="ImgAvatar">
              {if ($Users->ImgAvatar)}
              <a href="{HTTPD}/{$Users->ImgAvatar}" title="просмотреть файл" target="_blank">
                  {translation "Zero_Users" "Img View"}
              </a>
              <input type="checkbox" name="Users[ImgAvatar][Rem]" value="1"> {translation "Zero_Users" "Remove"}
              {/}
          </td>
      </tr>
    <tr>
      <td>
          {translation "Zero_Users" "model prop Password"}
        {if ( isset($Error_Validator['Password']) )}<span class="subj_prop_error">{$Error_Validator['Password'][1]}</span>{/if}
      </td>
      <td>
        <input class="field" type="text" name="Users[Password]">
      </td>
    </tr>
    <tr>
      <td>
          {translation "Zero_Users" "model prop PasswordR"}
        {if ( isset($Error_Validator['Password']) )}<span class="subj_prop_error">{$Error_Validator['Password'][1]}</span>{/if}
      </td>
      <td>
        <input class="field" type="text" name="Users[PasswordR]">
      </td>
    </tr>
    {if ( isset($Action['Profile']) )}
      <tr>
      <td colspan="2" align="center">
        <input class="btn" type="submit" value="{translation "Zero_Users" "button profile"}">
      </td>
    </tr>
    {/if}
  </table>
</form>