<p align="center" class="message-system">&nbsp;
    {foreach (Zero_App::Get_Variable('action_message') as $message)}
    <span{if ( 1 == $message[0] )} class="subj_error"{/if}>{$message[1]}</span><br>
    {/}
</p>
<form action="{URL}" method="post">
  <input type="hidden" name="act" value="Registration">
  <table class="tbledit" width="400px" cellspacing="1" cellpadding="0" border="0" align="center">
    <tr>
      <th colspan="2">{translation "Zero_Users" "Registration"}</th>
    </tr>
    <tr>
      <td width="200px">{translation "Zero_Users" "model prop Name"}</td>
      <td>
        <input class="field" type="text" name="Users[Name]" value="{htmlspecialchars($UsersReg->Name)}">
        {if ( isset($Error_Validator['Name']) )}<span class="subj_prop_error">{$Error_Validator['Name'][1]}</span>{/if}
      </td>
    </tr>
    <tr>
      <td>
          {translation "Zero_Users" "model prop Login"} <span class="subj_error">*</span>
        {if ( isset($Error_Validator['Login']) )}<span class="subj_prop_error">{$Error_Validator['Login'][1]}</span>{/if}
      </td>
      <td>
        <input class="field" type="text" name="Users[Login]" value="{htmlspecialchars($UsersReg->Login)}">
      </td>
    </tr>
    <tr>
      <td>
          {translation "Zero_Users" "model prop Email"} <span class="subj_error">*</span>
        {if ( isset($Error_Validator['Email']) )}<span class="subj_prop_error">{$Error_Validator['Email'][1]}</span>{/if}
      </td>
      <td>
        <input class="field" type="text" name="Users[Email]" value="{htmlspecialchars($UsersReg->Email)}">
      </td>
    </tr>
    <tr>
      <td>
          {translation "Zero_Users" "KeystringComment"}
        {if ( isset($Error_Validator['Keystring']) )}<span class="subj_prop_error">{$Error_Validator['Keystring'][1]}</span>{/if}
      </td>
      <td>
        <input class="field" type="text" name="Users[Keystring]">
      </td>
    </tr>
    <tr>
      <td>{translation "Zero_Users" "KeystringHelp"}</td>
      <td align="center">
        <img onclick="this.src='/helper/captcha?'+Math.random();" src="/helper/captcha" border="0" style="cursor: pointer;">
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input class="btn" type="submit" value="{translation "Zero_Users" "Registration"}">
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
          <a href="/user">{translation "Zero_Users" "Login"}</a>
      </td>
    </tr>
  </table>
</form>